
<header>
  <div class="container">
    <p>166 Balsam Place Ignace, ON P0T 1T0 - Asking $75,000</p>
    <a href="mailto:slouie15@bell.net?Subject=166%20Balsam%20Place">contact: Sharon Lewis</a>
    <a href="#!" id="map-show">Map</a>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
          <div>
            <p>House</p>
            <ul>
              <li>3 Bedroom Bungalow - 988 sq. ft.</li>
              <li>39 years old</li>
            </ul>
          </div>
          <hr>
          <div>
            <p>Property</p>
            <ul>
              <li>80.00 x 93.11 Corner Lot</li>
            </ul>
          </div>
          <hr>
          <div>
            <p>Features</p>
            <ul>
              <li><strong>Appliances:</strong></li>
              <li>Refrigerator</li>
              <li>Stove</li>
              <li>Built in Dishwasher</li>
              <li>Washer and Dryer</li>
            </ul>
            <ul>
              <li><strong>Interior Features:</strong></li>
              <li>Bathroom completely refinished less than a year ago</li>
              <li>All new windows</li>
              <li>New roof less than ten years ago</li>
              <li>Gas Fireplace in the Family Room</li>
              <li>Large workshop</li>
              <li>New Laminate Flooring</li>
              <li>Newly Renovated Kitchen</li>
            </ul>
            <ul>
              <li><strong>Heating:</strong></li>
              <li>New natural gas furnace (less than 1 year old) - rental</li>
              <li>All new duct work</li>
            </ul>
          </div>
          <hr>
          <div>
            <p>Lot</p>
            <ul>
                <li>Large Parking Area</li>
                <li>Utility Shed</li>
                <li>Landscaped</li>
            </ul>
          </div>
          <hr>
          <div>
            <p>Legal Description</p>
            <ul>
                <li>PCL 30119 SEC DKF; LT 188 PL M625 S/T PT 188, 23R3018 : AS IN LT 117487 TOWNSHIP OF IGNACE, DISTRICT OF KENORA</li>
            </ul>
          </div>
      </div>

        <div class="col-xs-9">
          <div id="house-imgs" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
              <li data-target="#house-imgs" data-slide-to="0" class="active"></li>
              <li data-target="#house-imgs" data-slide-to="1"></li>
              <li data-target="#house-imgs" data-slide-to="2"></li>
              <li data-target="#house-imgs" data-slide-to="3"></li>
              <li data-target="#house-imgs" data-slide-to="4"></li>
              <li data-target="#house-imgs" data-slide-to="5"></li>
              <li data-target="#house-imgs" data-slide-to="6"></li>
              <li data-target="#house-imgs" data-slide-to="7"></li>
              <li data-target="#house-imgs" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="build/images/ignace-house/front-sm.jpeg" alt="Front">
                <div class="carousel-caption">
                  <h3>Front</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/living-sm.jpeg" alt="Living Room">
                <div class="carousel-caption">
                  <h3>Living Room</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/dining-sm.jpeg" alt="Dining Room out to Deck">
                <div class="carousel-caption">
                  <h3>Dinning Room</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/kitchen-sm.jpeg" alt="Kitchen">
                <div class="carousel-caption">
                  <h3>Kitchen</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/entrance-sm.jpeg" alt="Entrance">
                <div class="carousel-caption">
                  <h3>Entrance</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/masterbed-sm.jpeg" alt="Master Bedroom">
                <div class="carousel-caption">
                  <h3>Master Bedroom</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/secondbed-sm.jpeg" alt="Second Bedroom">
                <div class="carousel-caption">
                  <h3>Second Bedroom</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/officebed-sm.jpeg" alt="Office/Third Bedroom">
                <div class="carousel-caption">
                  <h3>Third Bedroom/Office</h3>
                </div>
              </div>

              <div class="item">
                <img src="build/images/ignace-house/bathroom-sm.jpeg" alt="Bathroom">
                <div class="carousel-caption">
                  <h3>Bathroom</h3>
                </div>
              </div>
            </div>
          </div>
            <p>
              3 Bedroom 1 bathroom bungalow with newly renovated main floor.
              Laminate flooring, new paint, fully renovated bathroom and kitchen, as well as patio
              doors off the dining area that lead out to a large and a freshly stained 10’ x 17’ deck
              are all highlights of this smoke free home.
            </p>
            <p>
              A large corner lot and spacious drive as well as a small storage
              shed provide room for all the toys.
            </p>
            <p>
              Full basement including a partially finished family room with gas
              fireplace, 4th bedroom/office, large laundry and workshop areas plus plenty of storage space.
            </p>
            <p>
              This home is on a quiet crescent with nice neighbours! With fishing,
              hunting and two beautiful sand beaches w/ boat launch just minutes
              from your door, this home is great for a family, as a
              rental investment or for your retirement.
            </p>
      </div>
    </div><!-- end row -->
  </div>
</main>
<div id="mapModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.843336579465!2d-91.65160738430596!3d49.41186827934563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52a233b70807dd75%3A0x828df55e50c9b3eb!2s166+Balsam+Pl%2C+Ignace%2C+ON+P0T!5e0!3m2!1sen!2sca!4v1479918370569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

