<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>incubo web solutions</title>
  <link href="/build/css/whiteTemp.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    {{> whiteTemp/partials/nav}}
    {{> whiteTemp/partials/header}}
    {{{body}}}
    {{> whiteTemp/partials/footer}}
  </div>
  <script src="build/vendor.js"></script>
  <script src="build/whiteTemp.js"></script>
</body>

</html>