<footer>
  <div class="col-xs-1">
    <p>Company</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </div>
  <div class="col-xs-1">
    <p>Services</p>
    <ul>
      <li><a href="/personal">Personal</a></li>
      <li><a href="/business">Business</a></li>
    </ul>
  </div>
  <div class="col-xs-1">
    <p>Technologies</p>
    <ul>
      <li><a href="/mysql">MySQL</a></li>
      <li><a href="/node">Node JS</a></li>
      <li><a href="/javascript">Javascript</a></li>
      <li><a href="/htmlcss">HTML5/CSS3</a></li>
    </ul>
  </div>
  <div class="col-xs-1">
    <p>Social</p>
    <ul>
      <li><a href="https://twitter.com/incuboweb" target="_blank"><img src="build/images/incubo/twitter-2.png" class="img-responsive" alt="twitter logo"></a></li>
      <li><a href="https://ca.linkedin.com/in/robinerickson08" target="_blank"><img src="build/images/incubo/linkedin-logo-2.png" class="img-responsive" alt="linkedin logo"></a></li>
    </ul>
  </div>
</footer>