@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './mixins/mixins.scss';
@import './mixins/colors.scss';
@import './mixins/fonts.scss';
@import './pages/nav.scss';
@import './pages/home.scss';


$icon-font-path: '/fonts/';

/* FORMATTING */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  position: relative;
  padding: 0;
  min-height: 100%;
}

.container:after {
  content: "";
  display: block;
}

footer,
.container:after {
  height: 160px;
}

.row {
  margin: 0;
}

[class*=col] {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  height: 325px;
  position: relative;
  background: url('../images/incubo/to_skyline.jpg') no-repeat center center;

  img {
    position: absolute;
    right: 20px;
    padding: 20px;
  }
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  padding: 15px;
  border-top: 1px solid $black-color;

  p {
    font-family: 'merriweather', sans-serif;
    font-size: 16px;
  }

  a{
    font-family: 'merriweather-lght', sans-serif;
    font-size: 12px;
  }

  img {
    margin-bottom: 5px;
  }
}

main:not(.home) {
  padding: 0 20px 0 20px;

  .col-sm-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 164px;
    border: 1px solid $black-color;
    margin-bottom: 10px;

    p {
      font-family: 'roboto', sans-serif;
      font-size: 30px;
      color: $white-color;
      text-shadow: 1px 1px 1px $shadow-color;
    }
  }

  .col-sm-9 {
    margin-bottom: 20px;

    p,
    h4,
    li {
      font-family: 'quick', sans-serif;
    }

    p {
      font-size: 16px;
    }

     a {
      color: $white-color;

      &:hover {
      color: $blue-color;
      }
    }
  }
}

/* COLOR ADJUST */
// test commets
body {
  background: $black-color;
}

a:hover,
a.active,
a:focus {
  text-decoration: none;
  color: $blue-color;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.container {
  background: $black-color-lght;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
small {
  color: $white-opac;
}

@import './pages/about.scss';
@import './pages/resources.scss';
@import './pages/portfolio.scss';
@import './pages/htmlcss.scss';
@import './pages/contact.scss';
@import './pages/javascript.scss';
@import './pages/mysql.scss';
@import './pages/node.scss';
@import './pages/business.scss';
@import './pages/personal.scss';

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 375px) {
  footer {
    p {
      font-size: 12px;
    }

    a {
      font-size: 10px;
    }
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  footer {
    p{
      font-size: 14px;
    }
    a{
      font-size: 12px;
    }
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  main.home {

    .col-xs-6 {
      height: 160px;
    }

    .col-xs-3,
    .col-xs-12 {
      height: 80px;
    }
  }

  footer,
  .container:after {
    height: 160px;
  }

  main.home {

    .blue p,
    .yellow p,
    .green p {
      font-size: 16px;
    }
  }
}

@media (min-width: 501px) and (max-width: 575px) {
  main.home {

    .blue p,
    .yellow p,
    .green p {
      font-size: 20px;
    }
    .col-xs-6 {
      height: 200px;
    }

    .col-xs-3,
    .col-xs-12 {
      height: 100px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  main.home {

    .blue p,
    .yellow p,
    .green p {
      font-size: 25px;
    }
    .col-xs-6 {
      height: 250px;
    }

    .col-xs-3,
    .col-xs-12 {
      height: 125px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .nav {
    flex-direction: column;
  }

  main.home {

    h1 {
      font-size: 18px;
    }

    h4 {
      font-size: 14px;
    }

    .col-xs-6 {
      p {
        display: none;
      }
    }
  }

  header {
    height: 300px;

    img {
      right: 0;
      padding: 5px;
    }
  }

  footer {
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .container {
    width: 95%
  }

  main.home {
    .blue p,
    .yellow p,
    .green p {
      font-size: 30px;
    }

    .col-xs-6 {
      height: 300px;

      p {
        font-size: 16px;
      }
    }

    .col-xs-3,
    .col-xs-12 {
      height: 150px;
    }
  }

  main:not(.home) {
    .col-sm-2 {
    height: 120px;

      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  main.home {
    .blue,
    .green,
    .yellow {
      @include hover-gray(0);
      @include shadow-text();
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
