<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page Not Found :(</title>
    <style>
        html {
          padding: 30px 10px;
          line-height: 1.4;
          color: rgba(240,240,240,0.8);
          background: rgba(35,35,35,1);
        }

        html,
        input {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        body {
          max-width: 500px;
          padding: 20px;
          margin: 0 auto;
          background: rgba(49,49,49,1);
        }

        p {
          margin: 1em 0;
        }

        .container {
          max-width: 450px;
          margin: 0 auto;
        }

        p:last-of-type {
          margin-bottom: 3em;
        }

        /* google search */

        #goog-fixurl ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        #goog-fixurl form {
          margin: 0;
        }

        #goog-wm-qt,
        #goog-wm-sb {
          border: 1px solid #bbb;
          font-size: 16px;
          line-height: normal;
          vertical-align: top;
          color: #444;
          border-radius: 2px;
        }

        #goog-wm-qt {
          width: 220px;
          height: 20px;
          padding: 5px;
          margin: 5px 10px 0 0;
          border-radius: 0;
        }

        #goog-wm-sb {
          display: inline-block;
          height: 32px;
          padding: 0 10px;
          margin: 5px 0 0;
          cursor: pointer;
          color: rgba(240,240,240,1);
          background-color: rgba(102,133,230,1);
          border: none;
          border-radius: 0;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <h2>Ok. You caught us napping.</h2>
        <p>Usually we're right on top of things but it seems we haven't gotten around to building that page yet.</p>
        <p>Check that you have entered the correct url.</p>

        <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
    </div>
  </body>
</html>
