<main class="htmlcssjs">
  <div class="col-xs-12 col-sm-2">
    <p>HTML5</p>
    <p>CSS3</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-1">
    <h4>HTML5</h4>
    <p>
      With new functionalities that an awesome combination of CSS3 and HTML5 give us, we can do things that were never possible to achieve in pure HTML. Things that would previously require external plugins are now achievable in a browser through HTML5. Support for animations and transitions allow the possibility to create complicated dynamic visual effects through CSS3. Modern JavaScript API support for things like application storage and geolocation allow developers to create complete web based applications through native HTML and CSS. Semantic tags greatly improve accessibility for people who use screen readers. These devices can better examine the document by creating important landmarks on the page like header, footer and navigation.
    </p>
  </div>
   <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <h4>CSS3</h4>
    <p>
      CSS3 adds new features to help developers solve a number of presentation-related problems without resorting to scripting plugins or extra images, including support for additional selectors, drop shadows, rounded corners, updated layout features, animation, transparency, and much more. In the past, in order to create gradients, shadows, and rounded corners, web designers have had to resort to a number of tricky techniques. CSS3 allows you to include these and other design elements in a forward-thinking manner that leads to many benefits: cleaner markup, maintainable code, fewer extraneous images, and faster-loading pages.
    </p>
  </div>
</main>