<main class="javascript">
  <div class="col-xs-12 col-sm-2">
    <p>Javascript</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-1">
    <p>
      Javascript has become THE language of the web. It is responsible for allowing developers to create interactive and dynamic websites that can capture the users attention far better than a static page. It has become so dominant in web development that some large companies and dedicated practitioners have developed, or maintain libraries and frameworks to better deliver dynamic information to the user in single page web apps.
    </p>
      <ul>
        <li>Facebook - <a href="https://facebook.github.io/react/" target="_blank">React JS</a></li>
        <li>Google - <a href="https://angularjs.org/" target="_blank">Angular JS</a></li>
        <li>Evan You - <a href="https://vuejs.org/" target="_blank">Vue JS</a></li>
      </ul>
    <p>
      While these frameworks may not be neccessary for your website, they can provide great utility when developing single page web apps that require the delivery of a lot of dynamically updated information to the user. A lighter weight engine like <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> for brochure sites is often enough however, React and Angular are great for larger projects. We have yet to work with Vue JS however it seems promising a light weight alternative.
    </p>
    <p>
      ES5 and ES6 (ES2015) brought us a lot of tools, previuosly only available in other libraries, to help make Javascript a more workable language. The addition of array helpers (map, reduce, filter), 'let' and 'const' for variable declaration, and fat arrow functions allow for a more functional approach to writing Javascript. This helps us to move away from state dependent architecture allowing for greater concurrency across distributed applications. Javascript can be written as a procedural OO (Object Oriented) language using prototypal inheritance, or as a functional language where state is not transfered between functions or, as a combination of both allowing us to use which ever paradigm suits our needs for a given project or part there in.
    </p>
  </div>
</main>