<main class="mysql">
  <div class="col-xs-12 col-sm-2">
    <p>MySQL</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-1">
    <p>
      MySQL is an open-source relational database management system (RDBMS) and our preferred choice for local storage. It is used in many large-scale websites like Google, Facebook, Twitter, YouTube and also by NASA. If it's good enough for NASA...
    </p>
    <p>
      There has been a recent trend towards NoSQL databases as a document store like MongoDB or RethinkDB or as key/value storage like Redis. SQL databases store data in tables and are accessed via SQL (Structured Query Language) while NoSQL databases store data in field-value pair documents simillar to JSON (JavaScript Object Notation) and can be accessed in the same manner as JSON. The difference being that you can store data anywhere and in any format in NoSQL where as SQL databases require tables with schemas defining their structure.
    </p>
    <p>
      This really isn't a better or worse scenario, however we prefer the rigidity and stability of a SQL database where you must be very explicit in the types of data you wish to store and where you would like to store it. This leads to more predictable results when storing and accessing your data.
    </p>
  </div>
</main>