<main class="portfolio">
  <div class="col-xs-12 col-sm-2">
    <p>Portfolio</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-1">
    <h4>
      +3
    </h4>
    <a href="https://itunes.apple.com/ca/app/+3/id1095135903?mt=8" target="_blank">
      <img src="build/images/incubo/appstorebadge.svg" class="img-responsive" alt="app store badge">
    </a>
    <p>
      My wife had requested that we build her an app to solve a specific need she had at work. A calculator that allowed you to display calculations as you went, add notes to any line and send it as an email. +3 was born. Just for fun we added in a units converter as well as an API driven currency converter. +3 was built using xcode and the swift programming language.
    </p>
    <div class="col-xs-4"><img src="build/images/incubo/6-1.png" class="img-responsive" alt="+3 calculator"></div>
    <div class="col-xs-4"><img src="build/images/incubo/6-2.png" class="img-responsive" alt="">+3 currency converter</div>
    <div class="col-xs-4"><img src="build/images/incubo/6-3.png" class="img-responsive" alt="">+3 units converter</div>
  </div>

  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <h4>
      <a href="#!">Casemon</a>
    </h4>
    <p>
      We were engaged by a start up to develop the MVP for a web app that allows attorneys to recieve notifications via email or text whenever there's an update to one of their cases. The production deployment was done by <a href="https://ryanfunduk.com/" target="_blank">Ryan Funduk</a>.
    </p>
    <p>
      The MVP was built on Node JS and Coffescript for the backend and HTML5, CSS3 and jQuery for the frontend.
    </p>
    <p>
      Unfortunately due to a lack of interest in the product, Casemon is no longer active.
    </p>
    <img src="build/images/incubo/casemon.png" class="img-responsive" alt="casemon website">
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <h4>
      <a href="#!">Lakeshore Electric</a>
    </h4>
    <p>
      We were appraoched by an electrical contractor to increase their business potential through a web presence. They envisioned a straight brochure style site to illustrate their company and its services. We worked closely with them to bring their vision to life.
      Without the need for any backend Lakeshore Electric was built using HTML5, CSS3 and jQuery.
      (currently in development)
      </p>
      <img src="build/images/incubo/lakeshore.png" class="img-responsive" alt="lakeshore electric website">
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <h4>
      <a href="#!">JessTech</a>
    </h4>
    <p>
      A tech blog website built on Node JS and React/Redux.
      (currently in development)
      </p>
      <img src="build/images/incubo/jesstech.png" class="img-responsive" alt="jesstech website">
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <h4>Concepts</h4>
    <p>
      We love playing around with website layouts and color schemes. Here are some ideas we came up with recently in our spare time. These are not fully optimized for mobile.
    </p>
    <a href="/green-template" target="_blank"><img src="build/images/incubo/green-template.png" class="img-responsive" alt="green template"></a>
    <a href="/white-template" target="_blank"><img src="build/images/incubo/white-template.png" class="img-responsive" alt="white template"></a>
  </div>
</main>