<main class="resources">
  <div class="col-xs-12 col-sm-2">
    <p>Resources</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-1">
    <p>
      We are constantly reading articles, blog posts and watching videos to keep up with the fast paced world of web development and to ensure that we are able to provide you with the best solution to meet your needs.
    </p>
    <p>
      New Javascript frameworks seem to pop up every couple of months so maintaining a healthy dose of reading material is essential.
    </p>
    <p>
      Recently we have started digging into Elixir and the Phoenix framework for web development. Elixir takes a functional, fault tolerant approach to development with a focus on concurrency for large projects where scaling is paramount.
    </p>
    <p>
      Below are some of the articles we have been reading as well as some tools for web development that we find useful.
    </p>
    <section>
      <div class="col-xs-6">
        <h4>Programming in General</h4>
        <ul>
          <li><a href="https://mitpress.mit.edu/sicp/full-text/book/book.html" target="_blank">Structure and Interpretation of Computer Programs (MIT 1996)</a></li>
          <li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/lecture-videos/" target="_blank">Intro To Algorithms (MIT Open Course)</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h4>Javascript</h4>
        <ul>
          <li><a href="https://www.sitepoint.com/introduction-functional-javascript/" target="_blank">Functional Javascript (David Green May 2015)</a></li>
          <li><a href="https://medium.com/@rajaraodv/webpack-the-confusing-parts-58712f8fcad9#.l03tjzh15" target="_blank">Webpack - The Confusing Parts (rajaradov April 2016)</a></li>
          <li><a href="http://handlebarsjs.com/" target="_blank">Handlebars - Our prefered templating engine for Node JS</a></li>
          <li><a href="https://github.com/getify/You-Dont-Know-JS" target="_blank">You Don't Know JS (Kyle Simpson)</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <section>
      <div class="col-xs-6">
        <h4>Elixir/Phoenix</h4>
        <ul>
          <li><a href="http://elixir-lang.org/getting-started/introduction.html" target="_blank">The Elixir Language</a></li>
          <li><a href="http://www.phoenixframework.org/" target="_blank">Phoenix Framework</a></li>
          <li><a href="https://hexdocs.pm/ecto/Ecto.html" target="_blank">Ecto - A database wrapper for Elixir</a></li>
          <li><a href="http://elviovicosa.com/blog/2016/07/13/deploying-elixir-releases.html" target="_blank">Deploying Elixir (Elvio Vicosa July 2016)</a></li>
          <li><a href="https://lpil.uk/blog/sending-email-via-smtp-with-elixir-phoenix/" target="_blank">Sending Email w/ SMTP (Louis Pilfold May 2016)</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h4>Tools</h4>
        <ul>
          <li><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">Page Speed Insights - a useful tool for evaluating and streamlining web site performance</a></li>
          <li><a href="http://html-color-codes.info/colors-from-image/" target="_blank">HTML Color Codes - Get colors from any image</a></li>
          <li><a href="http://paletton.com" target="_blank">Paletton - great for color schemes</a></li>
          <li><a href="http://charliepark.org/bootstrap_buttons/" target="_blank">Bootstrap Beautiful Buttons - used as a playground for insipirtion</a></li>
          <li><a href="http://www.colorpicker.com/" target="_blank">Color Picker - simple and effective</a></li>
          <li><a href="http://www.colorzilla.com/gradient-editor/" target="_blank">Colorzilla - a gradient creation tool, again used as a playground for inspiration</a></li>
        </ul>
      </div>
    </section>
  </div>
</main>