<img src="build/images/greenTemp/to-skyline-evening.jpg" alt="Toronto Skyline" class="img-responsive">
<main>
  <div class="row main-quote">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <h1>Lorem ipsum dolor sit amet</h1>
      <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="btn-div col-xs-12 col-sm-3 col-sm-offset-1">
      <i class="fa fa-book fa-3x" aria-hidden="true"></i>
      <button class="quote-btn">Get a Quote</button>
    </div>
  </div>
  <div class="row main-qualities text-center">
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
      <h4>Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi placeat sed voluptates! Est nam porro qui. Debitis laboriosam, a harum vero sequi eligendi mollitia, fugit, inventore dolore facere quasi provident?</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
      <h4>Construction</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deleniti dolor aperiam perspiciatis, at libero, sequi odit iste eligendi animi itaque modi amet velit illo quia molestias? Neque, laborum, placeat!</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      <h4>Usability</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti expedita iure perspiciatis perferendis at aperiam ex numquam fugit accusamus sed amet eaque illo quisquam, sapiente doloribus alias facere quasi totam!</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-tasks fa-4x" aria-hidden="true"></i>
      <h4>Time</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, numquam animi iste eius error repellendus neque ducimus voluptatibus. Esse cupiditate ullam temporibus nihil repellat, consectetur amet culpa tempora saepe quas.</p>
    </div>
  </div>
</main>