<footer>
    <div class="col-xs-2">
      <h4>Lorem</h4>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
    </div>
    <div class="col-xs-2">
      <h4>Lorem</h4>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
    </div>
     <div class="col-xs-2">
      <h4>Lorem</h4>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
    </div>
    <div class="col-xs-2">
      <h4>Lorem</h4>
      <a href="#">lorem</a>
      <a href="#">lorem</a>
    </div>
</footer>
