<section id="one" class="row">
  <div class="col-xs-12 col-md-5">
    <img src="build/images/whiteTemp/meeting-1.jpg" class="img-responsive" alt="">
  </div>
  <div class="col-xs-12 col-md-5">
    <blockquote>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus inventore laborum fuga ut repellat soluta beatae, eligendi consequuntur, distinctio reprehenderit sed libero ipsum. Esse deleniti, non molestias magnam officiis.
    </blockquote>
  </div>
</section>

<section id="two" class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-2">
    <blockquote id="second">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium deleniti quasi ipsam natus tenetur reiciendis, est? Sed voluptatibus nisi aspernatur nihil fugit. Dolores itaque, atque molestias, eaque et consectetur eligendi.
    </blockquote>
  </div>
  <div class="col-xs-12 col-md-5">
    <img src="build/images/whiteTemp/meeting-2.jpg" class="img-responsive" alt="">
  </div>
</section>
<hr>
<section id="three" class="row">
  <div class="col-xs-12 col-md-3">
    <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut incidunt quasi tempora corporis mollitia eius, velit inventore ea sunt neque quos accusamus, dolore adipisci a quod eum est dignissimos aliquam!</p>
  </div>
  <div class="col-xs-12 col-md-3">
    <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus soluta nesciunt quo ea molestiae asperiores excepturi sed illo qui maiores repellat alias aperiam ullam, libero, modi vero numquam voluptates laborum!</p>
  </div>
  <div class="col-xs-12 col-md-3">
    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo modi, dolor neque excepturi, dignissimos eius at debitis quibusdam eligendi vitae adipisci sapiente ullam non incidunt quos. Ullam, voluptate molestias hic.</p>
  </div>
</section>
<hr>
<div class="row text-center">
  <h1>Packages Here! We Have Packages For Sale!</h1>
</div>
<section id="four" class="row">
  <div class="col-xs-12 col-md-2 col-md-offset-2">
    <h1>Package 1</h1>
    <h3>Stuff and Things</h3>
    <p>This Stuff</p>
    <p>These Things</p>
    <h2>$99</h2>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1">
    <h1>Package 2</h1>
    <h3>Stuff and Other Things</h3>
    <p>This Stuff</p>
    <p>These Things</p>
    <p>Plus These Things</p>
    <h2>$199</h2>
  </div>
  <div class="col-xs-12 col-md-2 col-md-offset-1">
    <h1>Package 3</h1>
    <h3>Stuff and More Things</h3>
    <p>This Stuff</p>
    <p>These Things</p>
    <p>Plus These Things</p>
    <p>And New Things</p>
    <h2>$299</h2>
  </div>
</section>