$blue-color: rgba(102,133,230,1);
$green-color: rgba(135,237,137,1);
$yellow-color: rgba(238,219,81,1);
$black-color: rgba(35,35,35,1);
$black-color-lght: rgba(49,49,49,1);
$shadow-color: rgba(100,100,100,1);
$white-color: rgba(240,240,240,1);
$white-opac: rgba(240,240,240,0.8);
$grey-color: rgba(220,220,220,1);