@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: merriweather-lght;
  src: url('./fonts/MerriweatherSans-Light.ttf');
}

@font-face {
  font-family: merriweather;
  src: url('./fonts/MerriweatherSans-Regular.ttf');
}

@font-face {
  font-family: quick;
  src: url('./fonts/Quicksand-Light.ttf');
}