
@mixin hover-gray($percent) {
  -webkit-filter: grayscale($percent);
  filter: grayscale($percent);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@mixin shadow-text() {
  -webkit-transition: text-shadow, .3s ease-in-out;
  transition: text-shadow, .3s ease-in-out;
  text-shadow: 1px 1px 1px $shadow-color;
}