
<header>
  <div class="head-info col-xs-12 col-md-3 col-md-offset-9">
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nihil. Placeat quis sapiente atque voluptatem sit. Ab amet ad eaque rerum inventore libero debitis consectetur, esse unde fugiat ratione architecto!</p>
  </div>
</header>
